.demo-loadmore-list {
    min-height: 350px;
}
.loadMore {
    text-align: center;
    margin-top: 40px !important;
    height: 32px;
    line-height: 32px;
}

/*给备忘录刷新按钮添加样式*/
.refresh{
    margin-right: 5px;
    cursor: pointer;
    color: #2274e3;
}

/*给完成的待办添加样式*/
.finish{
    box-shadow: 0 0 8px 1px #bbf2c991;
    background-color: #fafff5;
    border-radius: 6px;
}

/*!*给备忘录确定删除按钮添加样式*!*/
/*a.confirm-delete,*/
/*a.confirm-delete:hover,*/
/*a.confirm-delete:active,*/
/*a.confirm-delete:focus {*/
/*    transition: all .5s;*/
/*    color: red;         !* 红色字体 *!*/
/*    font-weight: bold; !* 加粗字体 *!*/
/*    background: rgba(255, 255, 255, 0);*/
/*    border: 1px solid red;*/
/*}*/


/* 长待办展开和收缩按钮 */
.expand-button{
    cursor: pointer;
    user-select: none;
    /*隐形边框*/
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.5s;
    opacity: 0.8;
    color: #1677ff;
    font-weight: bold;
    border-radius:0 0 6px 0;
}
.expand-button:hover{
    border-bottom: .05cm solid rgb(227, 46, 46);
}


/*《添加待办》的按钮*/
.addItemButton{
    margin-left: 6px;
    color: #52c41a;
    border-color: #52c41a;
    opacity: 0.8;
    transition: all 0.5s;
}
.addItemButton:hover{
    opacity: 1;
}


/* 列表下的全部按钮 */
.demo-loadmore-list a {
    padding: 0 1rem;
    margin: 0 2px;
    border-radius: 1.5rem;
    border: 1px solid #3d3a4e;
    color: #3f3d3d;
    transition: all 0.8s;
    opacity: 0.6;
}
.demo-loadmore-list a:hover{
    background: rgba(61, 58, 78, 0.23);
    opacity: .9;
}

/*点完成按钮后的样式*/
/*.confirm-finish:hover{*/
/*    background-color: #0080004d !important;*/
/*    color:green!important;*/
/*    border: 1px solid green!important;*/
/*    font-weight: bold; !* 加粗字体 *!*/
/*}*/

/*点删除按钮后的样式*/
.confirm-delete:hover{
    background-color: #8000004d !important;
    color:red !important;
    border: 1px solid red !important;
    font-weight: bold; /* 加粗字体 */
}

[data-action="edit"]:active{
    background-color: rgba(145, 174, 248, 0.69) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}

/*波纹动画*/
@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0.4;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.ripple-tag::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 10%;
    background: rgba(38, 255, 0, .4);
    animation: ripple 2.5s infinite; /* 应用动画 */
}
.ripple-tag{
    margin: 0 10px;
}

[data-action] {
    user-select: none;  /* 文字不可选中 */
}


