# # .yarnrc : 这是用于自定义 Yarn 包管理器的行为的文件。
# 在yarn 1.x中，配置项是写在.yarnrc文件中的，格式是键值对，每行一个配置。
# 在yarn 2+中，配置项是写在.yarnrc.yml文件中的，格式是YAML。

# 设置镜像
registry "https://registry.yarnpkg.com"

# 核心配置
# save-exact true             # 记录精确版本
# ignore-engines true         # 忽略引擎版本检查
# network-timeout 600000      # 超时时间设为10分钟

# 缓存管理
# cache-folder ./.yarn-cache  # 项目级缓存目录
# yarn-offline-mirror ./.offline-mirror # 离线镜像目录
