/*添加按钮透明度的改变*/
.addButton{
    opacity: 0.3;
}
.addButton:hover{
    opacity: 1;
}

.searchButton{
    opacity: .7;
    transition: all 0.5s;
    background-size: cover;                     /* 背景图像覆盖整个元素 */
    background-position: center;                /* 背景图像居中 */
    background-color: rgba(255, 255, 255, 0.88); /* 添加白色覆盖层，50%的透明度 */
    background-blend-mode: lighten;             /* 使用混合模式来提亮背景颜色 */
}
.searchButton:hover{
    opacity: 1;
}