.cancelDragAndDrop {
    display: flex;
    gap: 50px;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #ffffff;
}

.isDragBottom {
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #888888bf;
}
