.App {
    text-align: center;
    z-index: 1000;
  }


  .App-link {
    color: #61dafb;
  }

/* 按钮透明度的改变 */
 .buttonOpacity{
    opacity: 0.3;
    transition: all 0.5s ;
  }
 .buttonOpacity:hover{
    opacity: 1;
  }


.ant-drawer-body::-webkit-scrollbar-thumb{	/*定义滚动条颜色*/
    background-color: #ffffff;
    border-radius: 10px;
}
.ant-drawer-body::-webkit-scrollbar{		/*定义滚动条宽度*/
    width: 10px;
}

.ant-drawer-body::-webkit-scrollbar-track  /*定义滚动条轨道 内阴影+圆角*/
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .07);
    border-radius: 10px;
    background-color: #000000ea;
}

/*备案样式*/
.filing {
    font-size: 12px;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: fit-content; /* 居中 */
    bottom: 5px;
    color: white;
}
.filing a{
    color: #fff;
    text-shadow: 0 0 5px #000;
    opacity: .6;
    transition: all 0.5s;
}
.filing a:hover{
    opacity: 1;
}

.bottomMenu{
  position: absolute;
  bottom: 48px;
  right: 25px;
  height: 40px;
  z-index: 0;
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
}

.bottomMenuItemButton > div{
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border: #999 1px solid;
    border-radius: 5px;
    background: #00000000;
    transition: all 0.5s;
    user-select: none
}

.bottomMenuItemButton > div:not(:last-child):hover {
    background: rgba(0, 0, 0, 0.2);
}

.bottomMenuItemButton > div:not(:last-child):active {
    background: rgba(0, 0, 0, 0.2);
    transform: scale(.8);
}
