.█Radio.adm-radio-checked{
    background: #bef88f;
}
.█Radio>.adm-radio-icon{
    display: none;
}
.█Radio{
    padding: 8px;
    box-shadow: 3px 3px 0 1px rgba(128, 147, 197, 0.38);							 /*阴影     水平偏移 垂直偏移  模糊  阴影大小*/
    border-radius: 9px;						  /*圆角*/
    margin: 4px 1px;
}
.█Radio>.adm-radio-content{
    padding: 0;
}

/* tab 标签头部 吸顶 */
.█tabsContainer > .adm-tabs-header {
    top: 0;
    z-index: 1;
    position: sticky;
    background: #fff;
}
/*必填红星前缀*/
.█required:before{
    content: "*";
    color: red;
}

.editBoxTitle{
    font-size: 16px;
}

.█tabsContainer .adm-tabs-content{
    padding-top: 0;
}

.contentText textarea{
    padding: 0 10px;
}