.grid10 {
    gap: 30px;
    color: #888;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
}

.center {
    top: 50%;
    left: 50%;
    width: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.item {
    opacity: .6;
    height: 100%;
    display: flex;
    cursor: pointer;
    padding-top: 5px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #00000000;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    opacity: 1;
    color: #333;
    font-weight: bold;
    transform: scale(1.2);
    transform-origin: 50% 100%;
    background-color: #00000033;
}
