.grid10 {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
    color: #888;
}

.item {
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    opacity: .6;
}

.item:hover {
    color: #333;
    font-weight: bold;
    transform: scale(1.2);
    transform-origin: 50% 100%;
    opacity: 1;
}
