.grid10 {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
    color: #888;
}

.center {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    opacity: .6;
    background-color: #00000000;
    border-radius: 5px;
}

.item:hover {
    color: #333;
    font-weight: bold;
    transform: scale(1.2);
    transform-origin: 50% 100%;
    opacity: 1;
    background-color: #00000033;
}
