.demo-loadmore-list {
    min-height: 350px;
}
.loadMore {
    text-align: center;
    margin-top: 40px !important;
    height: 32px;
    line-height: 32px;
}
/*鼠标变小手*/
.pointer{
    cursor: pointer;
}

/*给备忘录刷新按钮添加样式*/
.refresh{
    margin-right: 5px;
    cursor: pointer;
    color: #2274e3;
}

/*给完成的待办添加样式*/
.finish{
    box-shadow: 0 0 8px 1px #bbf2c991;
    background-color: #fafff5;
    border-radius: 6px;
}

/*给备忘录确定删除按钮添加样式*/
a.confirm-delete,
a.confirm-delete:hover,
a.confirm-delete:active,
a.confirm-delete:focus {
    transition: all .5s;
    color: red;         /* 红色字体 */
    font-weight: bold; /* 加粗字体 */
    background: rgba(255, 255, 255, 0);
    border: 1px solid red;
}

/*《添加待办》的按钮*/
.addItemButton{
    margin-left: 6px;
    color: #52c41a;
    border-color: #52c41a;
    opacity: 0.8;
    transition: all 0.5s;
}
.addItemButton:hover{
    opacity: 1;
}


/* 列表下的全部按钮 */
.demo-loadmore-list a {
    padding: 0 1rem;
    margin: 0 2px;
    border-radius: 1.5rem;
    border: 1px solid #3d3a4e;
    color: #3f3d3d;
    transition: all 0.8s;
    opacity: 0.6;
}
.demo-loadmore-list a:hover{
    background: #3d3a4e;
    color: #FFF;
    opacity: .9;
}



