.demo-loadmore-list {
    min-height: 350px;
}
.loadMore {
    text-align: center;
    margin-top: 40px !important;
    height: 32px;
    line-height: 32px;
}
/*鼠标变小手*/
.pointer{
    cursor: pointer;
}

/*给备忘录刷新按钮添加样式*/
.refresh{
    margin-right: 5px;
    cursor: pointer;
    color: #2274e3;
}

/*给完成的待办添加样式*/
.finish{
    box-shadow: 0 0 8px 1px #bbf2c991;
    background-color: #fafff5;
    border-radius: 6px;
}

/*给备忘录确定删除按钮添加样式*/
a.confirm-delete,
a.confirm-delete:hover,
a.confirm-delete:active,
a.confirm-delete:focus {
    color: red;         /* 红色字体 */
    font-weight: bold; /* 加粗字体 */
}

/*添加待办按钮*/
.addItemButton{
    margin-left: 6px;
    color: #52c41a;
    border-color: #52c41a;
    opacity: 0.8;
    transition: all 0.5s;
}
.addItemButton:hover{
    opacity: 1;
}

