.demo-loadmore-list {
    min-height: 350px;
}
.loadMore {
    text-align: center;
    margin-top: 12px;
    height: 32px;
    line-height: 32px
}
/*鼠标变小手*/
.pointer{
    cursor: pointer;
}

/*给备忘录刷新按钮添加样式*/
.refresh{
    cursor: pointer;
    color: #2274e3;
}