/* 列表下的全部按钮 */
.btn {
    height: 22px;
    line-height: 22px;
    padding: 0 1rem;
    border-radius: 1.5rem;
    border: 1px solid #3d3a4e;
    color: #3f3d3d;
    transition: all 0.8s;
    opacity: 0.6;
}

.btn:hover {
    background: rgba(61, 58, 78, 0.23);
    opacity: .9;
}

.iconBtn {
    width: 28px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.dangerBtn {
    border-color: #ff4d4f;
    color: #ff4d4f;
}

.dangerBtn:hover {
    background: rgba(255, 77, 79, 0.12);
}
