/*这个标签的样式 抄Typora的*/
.kbd {
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    font-size: 0.8em;
    color: rgb(36, 39, 41);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(173, 179, 185);
    border-radius: 3px;
    box-shadow: rgba(12, 13, 14, 0.2) 0 1px 0, rgb(255, 255, 255) 0 0 0 2px inset;
    white-space: nowrap;
    vertical-align: middle;
}

/*引用块样式*/
.blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 0 0 10px;
    color: #777777;
    margin: 1.5em 10px;
}

.hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

table .tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}
table .tr:nth-child(2n), thead {
    background-color: #f8f8f8;
}

/*内联代码片*/
.inlineCode{
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 2px;
    padding: 1px 3px;
    margin: 0 1px;
}

/* 滚动条 */
.scrollbar::-webkit-scrollbar-thumb{	/*定义滚动条颜色*/
    background-color: rgb(43, 43, 43);
    border-radius: 9px;
}
.scrollbar::-webkit-scrollbar{		/*定义滚动条宽度*/
    width: 9px;
    height: 9px;
}
.scrollbar::-webkit-scrollbar-track  /*定义滚动条轨道 内阴影+圆角*/
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .06);
    border-radius: 9px;
    background-color: #656565;
}


/* --------------代码块样式--------------- */
/* 代码块最外层（头和块） */
.codeBlockWrapper {
    position: relative;
    background-color: #323641;
    border-radius: 10px;
}
/**代码头部*/
.codeLangHead{
    display: flex;
    justify-content: space-between;
    padding: 3px 3px 3px 13px;
    color: #f7fff8;
}
.copyButton {
    background-color: transparent;
    padding: 0 5px;
    color: #f7fff8;
    border: 2px solid transparent; /* 初始化一个透明边框 */
    border-radius: 5px;
    transition: border-color 0.5s linear; /* 指定过渡效果应用于边框颜色，持续0.5秒，时间函数为线性 */
    overflow: hidden;
}
.copyButton:hover {
    border-color: #768d79;
}
